{% load static %}


{% if "http://localhost:8000/taxs/" in request.build_absolute_uri or "http://127.0.0.1:8000/taxs/" in request.build_absolute_uri %}

    <div class="card w-100 mb5">
         <div class="row g-0">
            <div class="col-md-6 d-flex justify-center">
                <img src="{{ code.image }}"  >
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title">{{ code.name }} </h5>
                    <p class="card-text">Расшифровка: {{ code.decryption }}</p>
                    <div class="form-group">
                        <label class="form-label">Сумма вычета</label>
                        <input disabled class="form-control" style="width: 150px" value="{{ code.value }}">
                    </div>
                    <a href="/codes/{{ code.id }}/" class="btn btn-primary" style="width: 100px">
                        Открыть
                    </a>
                </div>
            </div>
         </div>
    </div>

{% else %}

    <div class="card">

        <img src="{{ code.image }}" class="code-preview" alt=""/>

        <div class="card-body" >

            <div class="card-info">

                <h5 class="card-title">{{ code.name }}</h5>

                <p class="card-text">Расшифровка: {{ code.decryption }}</p>

            </div>

            <div class="card-btns">

                <a href="/codes/{{ code.id }}/" class="btn btn-primary center">
                    Открыть
                </a>

            </div>

        </div>

    </div>

{% endif %}




